.bgWrap {
  position: fixed;
  height: 55vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  border-bottom: var(--color-yellow-300) 2px solid;
}

.bgText {
  margin: 0;
  line-height: 3rem;
  text-align: center;
  padding-top: 5vh;
  color: white;
}
